@{
    ViewData["Title"] = "Закладные изделия";
}


<p>Тип ЗИ ЖБК:</p>
<select>
    <option value="MC">Открытые</option>
    <option value="MCс">Закрытые</option>
    <option value="MCe">Обрамляющие</option>
    <option value="MCf">Рамные</option>
    <option value="T">Трубные</option>
</select>

<p>Подтип ЗИ ЖБК:</p>
<select>
    <option value="1">Полосовые</option>
    <option value="2">Точечные</option>
    <option value="3">Обрамляющие</option>
    <option value="4">Рамные</option>
    <option value="5">Трубные</option>
</select>